<main>
    <section id="section-login">
        <h3>Entre com os dados do usuário:</h3>
        <form class="row g-3">
            <div>
                <label for="staticUsuario">Usuário</label>
                <input type="text" name="usuario" [(ngModel)]="usuario" class="form-control" id="staticUsuario" placeholder="email@exemplo.com.br">
            </div>
            <div>
                <label for="inputPassword2">Senha</label>
                <input type="password" name="senha" [(ngModel)]="senha" class="form-control" id="inputPassword2" placeholder="Senha">
            </div>
            <div>
                <button type="submit" class="btn btn-primary mb-3" (click)="fazerLogin()">Acessar</button>
            </div>
        </form>
    </section>
</main>